Chicken/.vs/
Chicken/Library/
Chicken/Library/metadata/*/*.*
Chicken/Logs/
Chicken/obj/
Chicken/Packages/
Chicken/ProjectSettings/
Chicken/Temp/
Chicken/Chicken.userprefs

*.csproj 
*.unityproj 
*.sln 
*.suo 
*.tmp 
*.user 
*.userprefs 
*.pidb 
*.booproj 
*.meta 
*.info


